absl-py
annotated-doc
annotated-types
anyio
asyncpg
certifi
cffi
click
contourpy
cycler
fastapi
flatbuffers
fonttools
h11
httpcore
httpx
idna
kiwisolver
loguru
matplotlib
mediapipe
numpy
opencv-contrib-python
opencv-python-headless
packaging
pillow
pycparser
pydantic
pydantic-settings
pydantic_core
pyparsing
python-dateutil
python-dotenv
python-multipart
six
sounddevice
SQLAlchemy
starlette
typing-inspection
typing_extensions
uvicorn
